@import './modules/normalize-scss-7.0.0/sass/normalize/import-now';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
}
.container {
  padding: 100px;
}

.af-economic-calendar {
  width: 100%;
  border: 1px solid rgba(0,0,0,.2);
  border-collapse: collapse;
  &__head-cell {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
  }
  &__body-cell {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
  }
}
